doctype 5
html(lang='en')
    block head
        block meta
            meta(charset='utf-8')

        title
            block title

        link(rel='shortcut icon', type='image/x-icon', href=base+'static/img/pencil.ico')

        block cssImports

        block cssInline

        noscript
            block noScript

    block body
        block content

        block jsImports

        block jsInline
