extends bootstrap

block title
    | HomeCtrl

block append jsImports
    - each jsFile in jsFiles || []
        script(src=base + jsFile)

block append cssImports
    - each cssFile in cssFiles || []
        link(href=base + cssFile, rel='stylesheet', media='screen')

block cssInline
    style.
        body {
            padding-top: 45px;
        }

block jsInline
    script.
        var base = '#{base}';
        $(function() {
            // code
        });

block content
    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
            .container

                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.brand(href="#") HomeCtrl

                .nav-collapse.collapse
                    ul.nav
                        li.active
                            a Foo
                        li.divider-vertical
                        li
                            a Bar
                        li.divider-vertical
                        li
                            a Test

                    a.btn.btn-primary.pull-right(href=base+"logout") Logout 
                        i.icon-off.icon-white

    .content
        h3 this is some nice content