doctype 5
html(lang="en")
    block head
        block meta
            meta(charset="utf-8")

        title
            block title

        link(rel="shortcut icon", type="image/x-icon", href=base+"static/img/pencil.ico")

        block cssImportsPre

        block cssInline

        block cssImportsPost

        noscript
            block noScript

    block body
        block content

        block jsImportsPre

        block jsInline

        block jsImportsPost
