extends base

block append meta
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

block jsImportsPre
    script(src=base+"static/vendor/jquery/jquery-1.10.1.min.js")
    script(src=base+"static/vendor/bootstrap/js/bootstrap.min.js")

block cssImportsPre
    link(href=base+"static/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")

block cssImportsPost
    link(href=base+"static/vendor/bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
