/**
 * Variables.
 */

@blue: #428bca;
@header-height: 40px;
@menu-width-desktop: 250px;
@menu-width-mobile: 80%;
@menu-width-breakpoint: 768px;
@page-transition: 0.2s cubic-bezier(0.190, 1.000, 0.220, 1.000);


/**
 * General mixins.
 */

.absolute(@top: 0px; @right: 0px; @bottom: 0px; @left: 0px) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.absolute2(@top: 0px; @left: 0px; @height: 100%; @width: 100%) {
  position: absolute;
  top: @top;
  left: @left;
  height: @height;
  width: @width;
}


/**
 * General styles.
 */

.nav.nav-pills.nav-stacked {
  .divider {
    height: 1px;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}


/**
 * Content-related mixins.
 */

.homectrl-switch(@width) {
  #menu {
    width: @width;
  }

  &.menu-open {
    #page {
      left: @width;
      right: -@width;

      #blocker {
        display: block;
      }
    }
  }

  &.menu-on-canvas {
    #page {
      left: @width;
      right: 0px;
    }

    #blocker {
      display: none !important;
    }
  }
}


/**
 * homectrl styles.
 */

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: @blue;
}

#homectrl {
  .absolute();
  overflow: hidden;
  background-color: white;

  #menu {
    .absolute2();
    width: 0px;
    padding-top: @header-height + 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(../img/grey.png);
    background-position: center top;
    transition: width @page-transition;

    #menu-type-switch {
      .absolute2(@height: @header-height);
      display: table;

      > div {
        height: 100%;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;

        > span {
          font-size: 12px;
          color: #777;
        }

        .bootstrap-switch {
          float: right !important;
          margin-right: 15px;

          &.bootstrap-switch-animate .bootstrap-switch-container {
            -webkit-transition: margin-left @page-transition;
            transition: margin-left @page-transition;
          }
        }
      }
    }

    .dropdown-header {
      padding: 5px 20px;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    .nav-pills > li > a {
      border-radius: 0px;
    }

    a > i.glyphicon:first-child {
      margin-right: 5px;
    }
  }

  #page {
    .absolute();
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    box-shadow: -1px 0px 4px #888;
    transition: left @page-transition, right @page-transition;


    #header {
      .absolute2(@height: @header-height);
      z-index: 1;
      color: white;
      background-color: @blue;

      .btn-default {
        color: @blue;
        background-color: #fff;
        border-color: #ccc;

        &:hover, &:focus {
          color: @blue;
          background-color: #e6e6e6 !important;
          border-color: #adadad;
        }
      }

      > div {
        position: absolute;
        height: 100%;
        padding: 0px 4px;
        display: table;

        &:nth-child(1) {
          left: 0px;
          width: 50%;
          z-index: 2;
        }

        &:nth-child(2) {
          left: 0px;
          width: 100%;
          text-align: center;
        }

        &:nth-child(3) {
          right: 0px;
          width: 50%;
          z-index: 2;
        }

        > div {
          width: 100%;
          height: 100%;
          display: table-cell;
          vertical-align: middle;

          > span {
            height: 100%;
          }
        }
      }

      #title-hook > span {
        display: none;
        font-size: 18px;
      }
    }

    #content {
      .absolute();
      top: @header-height;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-image: url(../img/hcpattern.png);
      background-position: center top;

      .info {
        .absolute();
        display: none;
      }

      .plugin {
        .absolute();
        display: none;

        .content {
          .absolute();
        }

        .messages {
          position: absolute;
          width: 100%;
          bottom: 0px;
          padding: 0px 20px;
        }
      }
    }

    #blocker {
      .absolute();
      z-index: 1;
      display: none;
    }
  }

  #splashscreen {
    .absolute();
    z-index: 1;
    background-color: white;
  }

  .homectrl-switch(@menu-width-desktop);

  @media (max-width:@menu-width-breakpoint) {
    .homectrl-switch(@menu-width-mobile);
  }
}
