.container-fluid

  // steering elements
  .row
    .col-12.text-center
      button.btn.btn-default#all-on(role="button")
        i.glyphicon.glyphicon-check
        span  All On

      button.btn.btn-default#all-off(role="button")
        i.glyphicon.glyphicon-unchecked
        span  All Off

  // switches
  .row#switches
    .switch.col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center(data-bind="switch")
      h4(data-bind="label")
      h6(data-bind="descr")
      div.state
        input(type="checkbox")
