.container-fluid

  // steering elements
  .row
    .col-12.text-center
      div.btn-group(role="button")
        button.btn.btn-primary#refresh(role="button")
          i.glyphicon.glyphicon-refresh
          span  Refresh

  // image
  .row#image
    .col-12.text-center
      img(src="#{staticRoot}/img/placeholder.png")
