style.
    #cam-refresh {
        margin-bottom: 10px;
    }

    #cam-video {
        border-radius: 4px;
    }

h3.text-center Cam Stream

.well

    .text-center#cam-refresh
        button.btn.btn-primary Refresh Video 
            i.icon-refresh.icon-white

    .text-center
        video#cam-video(width="640", height="480", autoplay="autoplay")
            source(src="/plugins/cam/stream", type="video/mp4")
