style.
    #cam-switch {
        margin-bottom: 10px;
    }

    #img {
        margin: 5px;
        border-radius: 4px;
    }

h3 Cam Stream

.well
    .text-center
        .switch#cam-switch(data-on="primary", data-off="default", data-animated="false")
            input(type="checkbox")

    .text-center
        img#img