.container-fluid

  // steering elements
  .row
    .col-12.text-center
      button.btn.btn-default#dir-toggle(role="button")
        i.glyphicon.glyphicon-eye-close
        span  Hide Directions

      button.btn.btn-default#reset-all(role="button")
        i.glyphicon.glyphicon-repeat
        span  Reset all

  // gpios
  .row#gpios
    .gpio.col-lg-2.col-md-3.col-sm-4.col-xs-6.text-center(data-bind="gpio")
      h4
       | GPIO #
       span(data-bind="num")
      div.direction
        input(type="checkbox")
      div.value
        input(type="checkbox")
