tr
    td # #{pin}
    td
        span(id="#{id}")
    td
        .switch.switch-small(id="#{toggleId}", data-on="primary", data-off="default", data-animated="false")
            input(type="checkbox")
        button.btn.btn-small.btn-primary
            span.hidden-phone Unset 
            i.icon-eject.icon-white