style.
    .collection {
        margin-top: 10px;
    }

    .collection table {
        display: none;
    }

    .collection td, .collection th {
        vertical-align: inherit;
        text-align: center;
    }

    #input-collection .switch {
        margin-right: 10px;
    }

h3 GPIO Control

- validPins = [2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 17, 18, 22, 23, 24, 25, 27]

.row-fluid
    .span6.text-center
        .btn-group.text-left
            button.btn.dropdown-toggle(data-toggle="dropdown") Outputs 
                span.caret
            ul.dropdown-menu
                - for i in validPins
                    li
                        a(tabindex="-1", pin="#{i}", direction="out") # #{i}
        .well.collection#output-collection
            i#output-info empty
            table.table.table
                thead
                    tr
                        th GPIO
                        th Toggle
                        th Actions
                tbody

    .span6.text-center
        .btn-group.text-left
            button.btn.dropdown-toggle(data-toggle="dropdown") Inputs 
                span.caret
            ul.dropdown-menu
                - for i in validPins
                    li
                        a(tabindex="-1", pin="#{i}", direction="in") # #{i}
        .well.collection#input-collection
            i#input-info empty
            table.table.table
                thead
                    tr
                        th GPIO
                        th Value
                        th Actions
                tbody
