h3.text-center Dummy Plugin
a.btn.btn-primary I'm a button!

hr

.btn-group
    a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Action 
        span.caret
    ul.dropdown-menu
        li
            a(tabindex="-1", href="#") Some action
        li
            a(tabindex="-1", href="#") Another action
        li
            a(tabindex="-1", href="#") Something else here
        li.divider
        li
            a(tabindex="-1", href="#") Separated link
